<nav class="navbar navbar-expand-lg navbar-light text sticky-top py-3" style="background-color:rgb(18, 55, 94)">
    <div class="container">
        <a class="navbar-brand" href="#" id="logo">
            <span class=" header text-light"><b> INVENTORY MANAGEMENT</b></span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <div class="navbar-nav fs-6">
                    <li id="nav">
                        <a id="navs" class="nav-link active text-white " aria-current="page"  routerLink="/newitems" href="#">Add Items</a>
                    </li>
                    <li id="nav">
                        <a class="nav-link active text-white " aria-current="page" routerLink="/"
                            href="#">List Items</a>
                    </li>
                </div>

            </ul>
        </div>
    </div>
</nav>