<nav class="navbar navbar-light bg-light">
  <div class="container mt-3">
    <a class="navbar-brand fw-bold fs-5"></a>
    <form class="d-flex">
      <button style="background-color:rgb(25,135,84);" class="btn btn-lg text-white" routerLink="/newitems">
        Add New Items +
      </button>
    </form>
  </div>
</nav>


<div class="container mt-3">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. cookies" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">

    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <ng-container matColumnDef="productName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </th>
        <td mat-cell *matCellDef="let row"> {{row.productName}}</td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
        <td mat-cell *matCellDef="let row"> {{row.category}} </td>
      </ng-container>

      <ng-container matColumnDef="Productquantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Quantity </th>
        <td mat-cell *matCellDef="let row"> {{row.Productquantity}} </td>
      </ng-container>

      <ng-container matColumnDef="Productprice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Price </th>
        <td mat-cell *matCellDef="let row"> {{row.Productprice}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let row">
          <div>
            <a routerLink='/newitems/{{row.id}}' type="button"><i class='bx bxs-pencil edit' ></i></a>
            <a class="delete">
              <i class='bx bxs-trash delete' (click)="dleteproduct(row.id)" ></i>
            </a>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>